services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres
    restart: unless-stopped
    ports:
      - "15432:5432"
    environment:
      POSTGRES_DB: authdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  # api:
  #   build: .
  #   container_name: nodejs-api
  #   restart: unless-stopped
  #   ports:
  #     - "8000:8000"
  #   environment:
  #     NODE_ENV: development
  #     PORT: 3000
  #     JWT_SECRET: 1f20221c791263795ece3e8db71c2de0
  #     JWT_EXPIRES_IN: 24h
  #     DB_HOST: postgres
  #     DB_PORT: 5432
  #     DB_DATABASE: authdb
  #     DB_USER: postgres
  #     DB_PASSWORD: postgres
  #     DB_POOL_MAX: 10
  #     DB_POOL_MIN: 0
  #     DB_POOL_IDLE: 10000
  #   depends_on:
  #     postgres:
  #       condition: service_healthy
  #   networks:
  #     - app-network
  #   volumes:
  #     - .:/app
  #     - /app/node_modules

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge
