services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres
    restart: unless-stopped
    ports:
      - "15432:5432"
    environment:
      POSTGRES_DB: authdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  # api:
  #   build: .
  #   container_name: nodejs-api
  #   restart: unless-stopped
  #   ports:
  #     - "8000:8000"
  #   environment:
  #     NODE_ENV: development
  #     PORT: 3000
  #     JWT_SECRET: your-secret-key-change-this
  #     JWT_EXPIRES_IN: 24h
  #     DATABASE_URL: postgresql://postgres:postgres@postgres:5432/authdb?schema=public
  #   depends_on:
  #     postgres:
  #       condition: service_healthy
  #   networks:
  #     - app-network
  #   volumes:
  #     - .:/app
  #     - /app/node_modules

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge
